In [1]:
from get_ranks import *

In [3]:
df = main(['12'])
df

Name                       JamesOwers               jozef-mokry  \
Day Star Nr
12  1        2017-12-12T00:30:20-0500  2017-12-12T00:09:39-0500
    2        2017-12-12T00:38:06-0500  2017-12-12T00:11:04-0500

Name                           sona-g
Day Star Nr
12  1        2017-12-12T00:10:07-0500
    2        2017-12-12T00:12:50-0500

In [4]:
df.to_clipboard()

In [3]:
df = main()
df

Name                  AntreasAntoniou              ArturBekasov  \
Day Star Nr
1   1        2017-12-04T15:18:19-0500  2017-12-04T12:02:07-0500
    2                             NaN  2017-12-04T12:52:43-0500
2   1        2017-12-04T16:42:23-0500  2017-12-04T12:07:51-0500
    2                             NaN  2017-12-04T12:58:51-0500
3   1                             NaN  2017-12-04T12:45:22-0500
    2                             NaN  2017-12-04T13:08:19-0500
4   1        2017-12-04T14:39:06-0500  2017-12-04T12:49:02-0500
    2        2017-12-04T14:44:12-0500  2017-12-04T13:14:09-0500
5   1                             NaN  2017-12-05T05:41:35-0500
    2                             NaN  2017-12-05T05:43:34-0500
6   1                             NaN  2017-12-06T06:11:57-0500
    2                             NaN  2017-12-06T06:16:02-0500
7   1                             NaN  2017-12-07T05:36:24-0500
    2                             NaN  2017-12-07T06:15:03-0500
8   1                             NaN  2017-12-08T04:42:45-0500
    2                             NaN  2017-12-08T04:43:41-0500
9   1                             NaN  2017-12-09T09:03:02-0500
    2                             NaN  2017-12-09T09:04:33-0500
10  1                             NaN  2017-12-11T09:40:58-0500
    2                             NaN  2017-12-11T09:52:04-0500
11  1                             NaN  2017-12-11T10:25:05-0500
    2                             NaN  2017-12-11T10:26:20-0500
12  1                             NaN                       NaN
    2                             NaN                       NaN

Name              BenedekRozemberczki                 CarlAllen  \
Day Star Nr
1   1        2017-12-01T18:41:01-0500  2017-12-04T12:35:30-0500
    2        2017-12-01T18:48:24-0500  2017-12-04T12:36:43-0500
2   1        2017-12-02T07:04:23-0500  2017-12-04T12:42:33-0500
    2        2017-12-02T07:07:44-0500  2017-12-04T12:49:41-0500
3   1        2017-12-03T03:58:46-0500  2017-12-04T13:23:46-0500
    2        2017-12-03T04:00:11-0500  2017-12-04T14:22:16-0500
4   1        2017-12-04T05:50:56-0500  2017-12-04T15:05:10-0500
    2        2017-12-04T07:18:17-0500  2017-12-04T15:12:29-0500
5   1        2017-12-05T05:16:14-0500  2017-12-05T05:57:23-0500
    2        2017-12-05T05:18:27-0500  2017-12-05T05:58:35-0500
6   1        2017-12-06T05:10:22-0500  2017-12-06T06:09:07-0500
    2        2017-12-06T05:13:06-0500  2017-12-06T06:41:52-0500
7   1        2017-12-07T03:12:34-0500  2017-12-07T06:05:20-0500
    2        2017-12-07T03:35:29-0500  2017-12-07T06:51:32-0500
8   1        2017-12-08T03:21:57-0500  2017-12-08T08:26:05-0500
    2        2017-12-08T03:30:07-0500  2017-12-08T08:27:05-0500
9   1        2017-12-09T03:55:44-0500  2017-12-09T09:30:42-0500
    2        2017-12-09T03:57:22-0500  2017-12-09T09:32:23-0500
10  1        2017-12-10T04:46:40-0500  2017-12-10T10:31:44-0500
    2        2017-12-10T15:35:26-0500  2017-12-10T11:49:08-0500
11  1        2017-12-11T04:33:25-0500  2017-12-11T06:44:51-0500
    2        2017-12-11T04:35:17-0500  2017-12-11T06:45:59-0500
12  1                             NaN                       NaN
    2                             NaN                       NaN

Name                      CharlieNash              DanielMolnar  \
Day Star Nr
1   1                             NaN  2017-12-04T18:18:27-0500
    2                             NaN  2017-12-04T19:21:09-0500
2   1                             NaN  2017-12-04T18:33:44-0500
    2                             NaN                       NaN
3   1                             NaN  2017-12-04T19:00:14-0500
    2                             NaN                       NaN
4   1        2017-12-04T05:59:26-0500  2017-12-04T19:11:33-0500
    2        2017-12-04T06:19:18-0500                       NaN
5   1                             NaN                       NaN
    2                             NaN                       NaN
6   1                             NaN                       NaN
    2                             NaN                       NaN
7   1                             NaN                       NaN
    2                             NaN                       NaN
8   1                             NaN                       NaN
    2                             NaN                       NaN
9   1                             NaN                       NaN
    2                             NaN                       NaN
10  1                             NaN                       NaN
    2                             NaN                       NaN
11  1                             NaN                       NaN
    2                             NaN                       NaN
12  1                             NaN                       NaN
    2                             NaN                       NaN

Name                   IvanaBalažević                JamesOwers  \
Day Star Nr
1   1        2017-12-04T12:04:46-0500  2017-12-01T17:13:00-0500
    2        2017-12-04T13:26:11-0500  2017-12-01T17:21:17-0500
2   1        2017-12-04T12:09:10-0500  2017-12-02T04:50:11-0500
    2        2017-12-04T13:33:32-0500  2017-12-02T05:30:28-0500
3   1        2017-12-04T15:26:23-0500  2017-12-03T13:27:55-0500
    2        2017-12-04T15:59:18-0500  2017-12-03T18:46:18-0500
4   1        2017-12-04T12:21:39-0500  2017-12-04T04:32:22-0500
    2        2017-12-04T13:36:50-0500  2017-12-04T05:27:20-0500
5   1        2017-12-05T05:30:38-0500  2017-12-05T02:36:39-0500
    2        2017-12-05T05:52:01-0500  2017-12-05T02:49:57-0500
6   1        2017-12-06T06:04:08-0500  2017-12-06T02:39:18-0500
    2        2017-12-06T06:11:35-0500  2017-12-06T02:49:23-0500
7   1        2017-12-07T05:50:13-0500  2017-12-07T05:39:07-0500
    2        2017-12-07T07:06:59-0500  2017-12-07T06:59:08-0500
8   1        2017-12-08T08:17:12-0500  2017-12-08T00:30:03-0500
    2        2017-12-08T08:19:03-0500  2017-12-08T00:32:30-0500
9   1        2017-12-09T09:32:28-0500  2017-12-09T00:29:04-0500
    2        2017-12-09T09:37:00-0500  2017-12-09T00:35:51-0500
10  1        2017-12-10T10:09:16-0500  2017-12-10T00:32:49-0500
    2        2017-12-10T10:30:59-0500  2017-12-10T01:14:11-0500
11  1        2017-12-11T08:18:52-0500  2017-12-11T01:23:51-0500
    2        2017-12-11T08:30:32-0500  2017-12-11T01:27:02-0500
12  1                             NaN  2017-12-12T00:30:20-0500
    2                             NaN  2017-12-12T00:38:06-0500

Name                    MariaGorinova                RyanDavies  \
Day Star Nr
1   1                             NaN  2017-12-03T10:40:43-0500
    2                             NaN  2017-12-03T10:43:19-0500
2   1                             NaN  2017-12-03T10:56:03-0500
    2                             NaN  2017-12-03T11:07:00-0500
3   1        2017-12-06T07:49:03-0500  2017-12-03T12:00:40-0500
    2                             NaN                       NaN
4   1        2017-12-06T07:06:00-0500  2017-12-04T10:22:56-0500
    2        2017-12-06T07:22:04-0500  2017-12-04T10:25:41-0500
5   1        2017-12-06T06:55:26-0500  2017-12-05T12:10:48-0500
    2        2017-12-06T06:58:26-0500  2017-12-05T12:12:59-0500
6   1        2017-12-06T06:35:14-0500  2017-12-06T12:00:29-0500
    2        2017-12-06T06:39:50-0500  2017-12-06T12:11:02-0500
7   1                             NaN  2017-12-07T11:44:04-0500
    2                             NaN  2017-12-07T12:45:46-0500
8   1                             NaN  2017-12-08T09:58:09-0500
    2                             NaN  2017-12-08T10:02:13-0500
9   1                             NaN  2017-12-09T02:33:50-0500
    2                             NaN  2017-12-09T02:37:33-0500
10  1                             NaN  2017-12-10T18:22:29-0500
    2                             NaN  2017-12-10T18:40:08-0500
11  1                             NaN                       NaN
    2                             NaN                       NaN
12  1                             NaN                       NaN
    2                             NaN                       NaN

Name                       ZackHodari                claravania  \
Day Star Nr
1   1        2017-12-03T19:19:34-0500  2017-12-05T11:16:59-0500
    2        2017-12-03T19:22:36-0500  2017-12-05T11:45:04-0500
2   1        2017-12-03T19:30:16-0500  2017-12-05T19:47:51-0500
    2        2017-12-03T19:35:48-0500  2017-12-05T19:57:05-0500
3   1        2017-12-03T20:21:29-0500                       NaN
    2        2017-12-11T13:51:00-0500                       NaN
4   1        2017-12-05T09:32:20-0500                       NaN
    2        2017-12-05T09:37:22-0500                       NaN
5   1        2017-12-05T07:20:10-0500                       NaN
    2        2017-12-05T07:22:14-0500                       NaN
6   1        2017-12-11T15:27:41-0500                       NaN
    2        2017-12-11T15:29:48-0500                       NaN
7   1        2017-12-11T14:35:24-0500                       NaN
    2        2017-12-11T15:08:58-0500                       NaN
8   1        2017-12-11T14:15:32-0500                       NaN
    2        2017-12-11T14:16:53-0500                       NaN
9   1        2017-12-11T13:40:53-0500                       NaN
    2        2017-12-11T13:45:43-0500                       NaN
10  1        2017-12-11T12:12:11-0500                       NaN
    2        2017-12-11T13:09:21-0500                       NaN
11  1        2017-12-11T10:55:51-0500                       NaN
    2        2017-12-11T11:06:59-0500                       NaN
12  1                             NaN                       NaN
    2                             NaN                       NaN

Name                            gngdb               jozef-mokry  \
Day Star Nr
1   1        2017-12-04T04:45:58-0500  2017-12-02T07:01:03-0500
    2        2017-12-04T04:54:28-0500  2017-12-02T07:03:58-0500
2   1                             NaN  2017-12-02T07:09:43-0500
    2                             NaN  2017-12-02T07:14:31-0500
3   1                             NaN  2017-12-03T02:49:07-0500
    2                             NaN  2017-12-03T03:17:36-0500
4   1                             NaN  2017-12-04T02:39:30-0500
    2                             NaN  2017-12-04T02:43:52-0500
5   1                             NaN  2017-12-05T00:32:31-0500
    2                             NaN  2017-12-05T00:39:10-0500
6   1                             NaN  2017-12-06T01:13:44-0500
    2                             NaN  2017-12-06T01:17:52-0500
7   1                             NaN  2017-12-07T03:34:39-0500
    2                             NaN  2017-12-07T03:46:11-0500
8   1                             NaN  2017-12-08T02:05:43-0500
    2                             NaN  2017-12-08T02:06:56-0500
9   1                             NaN  2017-12-09T03:47:28-0500
    2                             NaN  2017-12-09T03:50:38-0500
10  1                             NaN  2017-12-10T01:42:48-0500
    2                             NaN  2017-12-10T01:57:30-0500
11  1                             NaN  2017-12-11T06:00:39-0500
    2                             NaN  2017-12-11T06:03:18-0500
12  1                             NaN  2017-12-12T00:09:39-0500
    2                             NaN  2017-12-12T00:11:04-0500

Name                             sfme                    sona-g
Day Star Nr
1   1                             NaN  2017-12-05T04:17:17-0500
    2                             NaN  2017-12-05T04:19:18-0500
2   1                             NaN  2017-12-05T04:26:57-0500
    2                             NaN  2017-12-05T04:33:54-0500
3   1                             NaN  2017-12-05T06:07:43-0500
    2                             NaN  2017-12-05T06:42:58-0500
4   1                             NaN  2017-12-05T04:42:05-0500
    2                             NaN  2017-12-05T04:44:41-0500
5   1                             NaN  2017-12-05T04:51:26-0500
    2                             NaN  2017-12-05T04:53:57-0500
6   1                             NaN  2017-12-06T00:56:52-0500
    2                             NaN  2017-12-06T00:58:30-0500
7   1        2017-12-07T08:12:40-0500  2017-12-07T01:02:32-0500
    2        2017-12-07T14:21:00-0500  2017-12-07T01:17:15-0500
8   1        2017-12-08T11:41:37-0500  2017-12-08T01:08:10-0500
    2        2017-12-08T11:48:34-0500  2017-12-08T01:10:06-0500
9   1                             NaN  2017-12-09T00:27:43-0500
    2                             NaN  2017-12-09T00:33:43-0500
10  1                             NaN  2017-12-10T00:36:55-0500
    2                             NaN  2017-12-10T00:53:11-0500
11  1        2017-12-11T07:27:09-0500  2017-12-11T00:22:26-0500
    2        2017-12-11T07:30:46-0500  2017-12-11T00:28:41-0500
12  1                             NaN  2017-12-12T00:10:07-0500
    2                             NaN  2017-12-12T00:12:50-0500